body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.roster-container {
  margin:20px;
}


.roster-container table thead, tbody, tfoot, tr, td, th {
  border: 0;
}

.roster-container .table > :not(:first-child) {
  border: 0;
}

.roster-container table tr:nth-child(even) {
  /* background-color: #f2f2f2; */
  background-color: #f8f8f8;
}

.roster-container table td {
 /* border:solid 1px #ccc; */
 border-collapse:collapse;
}

.roster-container table img {
  width:60px;
}

.roster-container .HCC_TD {
  width: 200px;
  text-align:left;
}

.NavbarBrand {
  border:solid red 3px;
}

.netslogo {
  width:100px;
}

.logo_container {
  width:210px;
  float:left;
}

.title_container {
  padding-top:30px;
  width:210px;
  float:left;
}
.navContainer{
  float:left;
  padding-bottom:30px;
  margin-bottom:40px;
  width:100%;
  border-bottom:1px solid #ccc;
}

.clearLeft{
clear:left;
}